.gradient-background {
    background: linear-gradient(300deg,#1D24CA, #201658, #9236EB);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .top-diamond {
    position: absolute;
    right: 300px;
    top: 40px;
    z-index: -1;
  }

body {
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
  
